<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.csxiong.library">

    <application>

        <meta-data
            android:name="me.csxiong.library.integration.config.XPortGlobalConfig"
            android:value="@string/GlobalConfig" />

    </application>
</manifest>
