<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kehua.pile">

    <application>
        <meta-data
            android:name="com.base.multi.config.TestGlobalConfig"
            android:value="ConfigModule" />

        <activity android:name="com.base.multi.business.test.TestActivity"/>
    </application>
</manifest>
